@font-face {
    font-family: "Prime";
    src: url("../fonts/prime.woff") format("woff");
}
@font-face {
    font-family: "PrimeLight";
    src: url("../fonts/primelight.woff") format("woff");
}

body {
  color: #fff;
  background-image: url("../pics/bg.jpg");
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
}

.pull-right{
	border-left: none;
	font-weight: bold;
	letter-spacing: 1px;
}

.muted {
	color: #a3a3a3;
	opacity: 0.7;
}

.navbar-wrapper {
  position: relative;
  z-index: 10;
}

.navbar-brand {
  font-size: 16px;
  font-weight: bold;
  font-family: Prime;
  color: white !important; 
}

.navbar-brand:hover {
  cursor: default;
}

.navbar .nav > li > a {
  padding: 15px 20px;
  font-family: PrimeLight;
  font-weight: bold;
  letter-spacing: 1px;
}

.dropdown {
	margin-right: 20px;
}

.carousel {
  margin-top: 110px;
  margin-bottom: 60px;
  border-top: solid 4px black;
  border-bottom: solid 4px black;
  
  margin-left: 100px;
  margin-right: 100px;
  border-left: solid 4px black;
  border-right: solid 4px black;
  
}

.carousel .container {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
}

.carousel .item {
  height: 400px;
}
.carousel img {
  min-width: 100%;
  height: 500px;
}

.carousel-caption {
  background-color: transparent;
  position: static;
  max-width: 550px;
  padding: 0 20px;
  margin-bottom: 100px;
  font-size: 16px;
}

.carousel-caption h1{
  font-weight: bold;
}

.marketing .col-md-4 {
  text-align: center;
}

.marketing h2 {
  font-weight: normal;
}

.marketing .col-md-4 p {
  margin-left: 10px;
  margin-right: 10px;
}

.featurette-divider {
  margin: 80px 0; 
}

.featurette {
  padding-top: 120px; 
  overflow: hidden; 
}

.featurette-image {
  margin-top: -120px; 
}

.featurette-image.pull-left {
  margin-right: 40px;
}

.featurette-image.pull-right {
  margin-left: 40px;
}

.featurette-heading {
  font-size: 50px;
  font-weight: 300;
  line-height: 1;
  letter-spacing: -1px;
}

.gallery {
	display: table;
	margin-top: 10%;
}

.gallery .row {
	display: table-row;
	margin-bottom: 40px !important;
}

.gallery .row .thumbnail {
	display: table-cell;
	margin-top: 40px;
	margin-left: auto;
	margin-right: auto;
}

.thumbnail {
	border: none;
	background: none;
  opacity: 0.5;
  cursor: pointer;
}

.space {
	margin-top: 20px;
	margin-bottom: 20px;
}

.popup {
  display: none;
  position: relative;
  border: 4px solid black;
  height: 600px;
  width: 800px;
  margin-top: 10%;
  margin-right: auto; 
  margin-left: auto;
}

.popup .image {
  width: 100%;
  height: 100%;
}

#xclose {
  position: absolute;
  opacity: 0.7;
  right: 10px;
  top: 10px;
}

.spec {
  width: 800px;
  margin-top: 10%;
  color: black;
  font-weight: bold;
}

.tmrshed {
  color: white;
  font-family: Prime;
  font-weight: bold;
}

/* RESPONSIVE CSS
-------------------------------------------------- */

@media (max-width: 979px) {

  .container.navbar-wrapper {
    margin-bottom: 0;
    width: auto;
  }
  .navbar-inner {
    border-radius: 0;
    margin: -20px 0;
  }

  .carousel .item {
    height: 500px;
  }
  .carousel img {
    width: auto;
    height: 500px;
  }

  .featurette {
    height: auto;
    padding: 0;
  }
  .featurette-image.pull-left,
  .featurette-image.pull-right {
    display: block;
    float: none;
    max-width: 40%;
    margin: 0 auto 20px;
  }
}


@media (max-width: 767px) {

  .navbar-inner {
    margin: -20px;
  }

  .carousel {
    margin-left: -20px;
    margin-right: -20px;
  }
  .carousel .container {

  }
  .carousel .item {
    height: 300px;
  }
  .carousel img {
    height: 300px;
  }
  .carousel-caption {
    width: 65%;
    padding: 0 70px;
    margin-bottom: 40px;
  }
  .carousel-caption h1 {
    font-size: 30px;
  }
  .carousel-caption .lead,
  .carousel-caption .btn {
    font-size: 18px;
  }

  .marketing .col-md-4 + .col-md-4 {
    margin-top: 40px;
  }

  .featurette-heading {
    font-size: 30px;
  }
  .featurette .lead {
    font-size: 18px;
    line-height: 1.5;
  }

}
